.episode-show-watchlist-parent {
  width: 950px;
  border: 1px solid black;
  height: 200px;
  left: 12%;
  position: absolute;
  margin-top: 60px;
  justify-content: space-between;
}

.episode-watchlist-topbar {
  
}

.episode-watchlist-item-outer {
  width: 225px;
  height: 100%;
  border: 1px solid green;
}
