.episode-parent {
  background: #3c3c3c;
  width: 100%;
  height: 600px;
  filter: brightness(40%);
  position: absolute;
}

.video-js {
  
}

.video-container {
  left: 10%;
  position: absolute;
  width: 200px;
  height: 200px;

}

.episode-grandparent {
  // position: relative;
  // width: 100%;
  // height: 600px;
}
