.episode-parent {
  background: #3c3c3c;
  width: 100%;
  height: 600px;
  filter: brightness(40%);
  position: absolute;
}

.video-container {
  left: 9%;
  margin-right: 13px;
  margin-left: 10px;
  margin-top: 60px;
  position: absolute;
  box-shadow: 0px 0px 5px #3c3c3c;
  // border: 1px groove black;
}

.video-tray {

}

.episode-grandparent {
  width: 100%;
}

.play-bar-parent {
  width: 70%;
  height: 14%;
  position: absolute;
  bottom: 15px;
  display: flex;
  margin-left: 15%;
  background: black;
  border-bottom: 0.5px solid gray;
  font-size: 24px;
}

.play-bar-background {
  opacity: 0.1;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 15px;
  background: black;
  z-index: -1;
}

.play-bar-play {
  margin-left: 3%;
  color: white;
}

.play-bar-rewind {
  margin-left: 3%;
  color: white;
}

.play-bar-forward {
  margin-left: 3%;
  color: white;
}

.play-bar-progress {
  margin-left: 3%;
  color: white;
  width: 65%;
  // display: flex;
  background: white;
}

#progress-bar-render {
  color: green;
  height: 2px;
  width: 80%;
}

#video-controls {
  margin: auto;
  width: 100%;
}

// video {
  // height: 650px;
  // width: 110%;
// }

.vsc-controller {
  display: none;
}
