.episode-show-watchlist-parent {
  width: 950px;
  border: 1px solid black;
  height: 200px;
  left: 12%;
  position: absolute;
  margin-top: 60px;
}

.episode-watchlist-topbar {
  height: 20%;
  width: 100%;
  border: 1px solid red;
}

.episode-watchlist-index {
  justify-content: space-between;
  height: 80%;
  width: 100%;
  display: flex;
}

.episode-watchlist-item-outer {
  width: 225px;
  height: 100%;
  border: 1px solid green;
}
