.episode-parent {
  background: #3c3c3c;
  width: 100%;
  height: 700px;
  filter: brightness(60%);
  position: absolute;
}

.video-container {
  left: 11.2%;
  // margin-right: 13px;
  margin-left: 10px;
  margin-top: 60px;
  position: absolute;
  box-shadow: 0px 0px 5px #3c3c3c;
  min-width: 950px;
}

.vsc-initialized {
  height: 500px;
  width: -webkit-fill-available;
  background: black;
}

.video-tray {
  height: 700px;
  width: 1200px;
}

.episode-grandparent {
  width: 100%;
}

.play-bar-parent {
  width: 80%;
  height: 14%;
  position: absolute;
  bottom: 15px;
  display: flex;
  margin-left: 10%;
  background: black;
  border-bottom: 0.5px solid gray;
  font-size: 21px;
}

.play-bar-background {
  opacity: 0.1;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 15px;
  background: #36454f;
  z-index: -1;
}

.play-bar-play {
  margin-left: 3%;
  color: white;
}

.play-bar-rewind {
  margin-left: 3%;
  color: white;
}

.play-bar-forward {
  margin-left: 3%;
  color: white;
}

.play-bar-progress {
  margin-left: 3%;
  color: white;
  width: 65%;
  // display: flex;
  background: white;
}

#progress-bar-render {
  color: green;
  height: 2px;
  width: 80%;
}

#video-controls {
  margin: auto;
  width: 100%;
}

.play-bar-volume {
  margin-left: 3%;
  color: white;
}

.play-bar-settings {
  margin-left: 2%;
  color: white;
}

.play-bar-fullscreen {
  margin-left: 2%;
  color: white;
}

.video-description-box {
  height: 8%;
  width: 80%;
  position: relative;
  top: 83%;
  left: 11.3%;
  margin-top: 0px;
  // border: 1px solid green;
  // vertical-align: middle;
  line-height: 30px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

.episode-airwave-logo {
  position: relative;
  margin-top: 20%;
  color: #dddddd;
  font-size: 20px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: 200;
  margin-left: 3px;
}

.episode-show-show {
  color: #dddddd;
  font-size: 25px;
  font-family: "Flama",Helvetica, Arial, Verdana, sans-serif;
  font-weight: 100;
  margin-left: 3%;
  text-shadow: rgba(1, 1, 1, 0.5) 0px 1px;
  letter-spacing: -1px;
}

.episode-show-episode {
  color: #aaaaaa;
  font-size: 25px;
  font-weight: 100;
  text-shadow: rgba(1, 1, 1, 0.5) 0px 1px;
  font-family: "Flama",Helvetica, Arial, Verdana, sans-serif;
  margin-left: 3%;
}

.video-engagement-bar {
  height: 5%;
  top: 82%;
  width: 80%;
  left: 11.3%;
  // border: 1px solid green;
  position: relative;
}

.engagement-details {
  margin-top: 1%;
  margin-left: 0.3%;
  color: #aaaaaa;
  text-shadow: rgba(1, 1, 1, 0.5) 0px 1px;
}

.engagement-details-text {
  line-height: 18px;
  font-size: 14px;
  color: #aaaaaa;
  text-shadow: rgba(1, 1, 1, 0.5) 0px 1px;

}

.vsc-controller {
  display: none;
}
