.nav-bar {
  display: flex;
}

.airwave-logo {
  padding-left: 15px;
  color: rgb(102, 170, 50);
  font-size: 20px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;

}

.banner-dropdown {
  display: flex;
  font-family: "Flama", Helvetica, Arial, Verdana, sans-serif;
  padding: 7px;
  padding-left: 12px;
  font-size: 15px;
  // color: white;
}
