.nav-bar {
  display: flex;
  width: 100%;
  min-width: 1070px;
  // width: 900px;
  height: 50px;
  justify-content: space-between;
  position: absolute;
  top: 0;
  z-index: 100;
  color: white;
  margin: 0 auto;
  margin-top: 0px;
  margin-left: 7%;
}

.dulled {
  filter: brightness(35%);
}

.nav-bar-right {
  width: 30%;
  display: flex;
  margin-right: 20%;
  align-items: center;
  justify-content: flex-end;
}
.nav-bar-left {
  width: 65%;
  margin-left: 5%;
  display: flex;
  align-items: center;
}

.airwave-logo {
  margin-right: 4%;
  color: rgb(102, 170, 50);
  font-size: 24px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: bold;
}


.account-dropdown {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  display: inline-block;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px;
  padding-top: 4px;
}

.search-bar {
  padding-top: 0px;
  height: 1.5em;
  width: 40px;
}

.search-bar-input {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  display: flex;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 20px;
  background-color: silver;
  border: 1px solid black;
  border-radius: 6px;
  opacity: 0.5;
  color: black;
}

.username {
  text-transform: uppercase;
}

.search-parent {
  // margin-left: 225px;
  margin-left: 15%;
  margin-top: 5px;
}

.button-holder {
  background-image: image-url('search-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  padding-top: 2px;
  margin-right: 4px;
  margin-top: 1px;
  display: flex;
}


.banner-dropdown-right{
  font-family: "Flama", Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
  color: white;
}


.banner-dropdown {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  display: inline-block;
  position: relative;
  padding: 5px;
  padding-top: 10px;
  font-size: 14px;
  list-style: none;
}

.dropdown-button {
  color: black;
  cursor: pointer;
  border: none;
  color: white;
}

.dropdown-content {
  display: none;
  min-width: 100px;
  box-shadow: 2px;
  z-index: 1;
  color: white;
  border: 1px groove white;
  margin-top: 8px;
}

.dropdown-content-holder {
  padding-top: 13px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 13px;
  background-color: black;
  opacity: 0.8;
  display: block;
  line-height: 1.25em;
}

.dropdown-content-link {
  padding-right: 10px;
  color: #aaaaaa;
  margin: 4px;
  margin-top: 5px;
  font-size: 13px;
  white-space: nowrap;
}

.banner-dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
  left: -15px;
  transition-delay: 3s;
}

.dropdown-content-link:hover {
  display: block;
  color: #66aa33;
}

#hover-longer {

}

.dropdown-button:hover {
  color: #66aa33;
}

.account-dropdown:hover .dropdown-content {
  display: block;
}

.account-dropdown:hover .dropdown-button {
  color: #66aa33;
}

.account-dropdown-expand {
  min-width: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

}

.account-dropdown-holder {
  display: flex;
  flex-direction: row;
}
