.search-results-parent {
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  color: #444444;
  background-color: white;
  position: absolute;
  top: 50px;
}

.search-banner {
  height: 60px;
  font-size: 30px;
  width: 100%;
  background-color: white;
  padding-left: 11%;
  padding-right: 9%;
  margin-top: 10px;
}

.search-index-container {

}

.search-item-description {
  display: flex;
  flex-direction: row;
}

.search-item-outer {
  border: 1px solid black;
  margin-left: 11%;
  width: 80%;
  min-width: 900px;
  height: 150px;
  margin-top: 10px;
}

.search-thumb {
  width: 140px;
  height: 140px;
  margin-left: 5px;
  margin-top: 5px;
  border: 1px solid red;
}

.search-series {
  width: 250px;
  height: 25px;
  border: 1px solid green;
  margin-top: 5px;
  margin-left: 5px;
}

.search-episode {
  margin-left: 10px;
  width: 350px;
  height: 25px;
  border: 1px solid red;
  margin-top: 5px;
}

.search-description {
  border: 1px solid black;
  width: 600px;
  height: 80px;
  margin-left: -613px;
  margin-top: 40px;
}
