.search-results-parent {
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  color: #444444;
  background-color: white;
  position: absolute;
  top: 50px;
}

.search-banner {
  height: 60px;
  font-size: 30px;
  width: 100%;
  background-color: white;
  padding-left: 11%;
  padding-right: 9%;
  margin-top: 10px;
}

.search-index-container {
  background: white;
}

.search-item-description {
  display: flex;
  flex-direction: row;
}

.search-item-outer {
  // border: 1px solid black;
  margin-left: 11%;
  width: 80%;
  min-width: 900px;
  height: 150px;
  margin-top: 10px;
}

.search-thumb-holder {
  min-width: 140px;
  min-height: 160px;
  margin-left: 5px;
  margin-top: 5px;
  // border: 1px solid red;
  object-fit: contain;
}

.search-thumb {
  width: 100%;
  height: 100%;
}

#search-thumb {
  max-height: 140px;
  max-width: 160px;
  border-radius: 4%;
}

.search-series {
  width: 250px;
  height: 25px;
  // border: 1px solid green;
  margin-top: 5px;
  margin-left: 5px;
}

.search-episode {
  margin-left: 10px;
  width: 700px;
  height: 25px;
  font-size: 30px;
  margin-top: 5px;
}

.search-episode:hover {
  color: #66aa33;

}

.search-side-holder {
  display: flex;
  flex-direction: column;
}

.search-description {
  // border: 1px solid black;
  width: 600px;
  height: 80px;
  margin-left: 10px;
  margin-top: 25px;
}

.episode-index {
  width: 800px;
  height: 800px;
  background: white;
}
