.showcase-parent {
  background-image: image-url('vintage1.jpg');
  filter: brightness(50%);
  background-size: cover;
  background-position: 10px 500px;
  position: fixed;
  width: 100%;
  height: 500px;
  z-index: 0;
  // opacity: 0.8;
  font-family: "Flama", Helvetica, Arial, Verdana, sans-serif;
}


.showcase-text {
  width: 35%;
  height: 60%;
  position: absolute;
  top: 135px;
  left: 120px;
}

// showcase hook
.showcase-hook {
  margin-top: 50px;
  margin-left: 10px;
  font-style: italic;
  padding-left: 1px;
  padding-top: 1px;
  letter-spacing: 1.3px;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 200;
  line-height: 18px;
  position: relative;
}

.showcase-hook-shadow {
  top: 0;
  left: 0;
  position: absolute;
  color: #2b2929;
  text-shadow: 1px 1px 0px #fff;
}

.showcase-hook-origin {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  text-shadow: 1px 1px 0px #2b2929;
}

//showcase title
.showcase-title {
  font-size: 30px;
  color: #fff;
  margin-left: 10px;
  margin-top: 30px;
  position: relative;
  letter-spacing: 1.3px;
  font-family: sans-serif;
  font-weight: 500;
  line-height: 18px;
}

.showcase-title-shadow {
  top: 0;
  left: 0;
  position: absolute;
  color: #2b2929;
  text-shadow: 1px 1px 0px #fff;
}

.showcase-title-origin {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  text-shadow: 1px 1px 0px #2b2929;
}
