.watchlist-parent {
  border: 1px solid black;
  position: absolute;
  // top: 525px;
  left: 150px;
  height: 210px;
  width: 74%;
  margin-top: 60px;
  margin-bottom: 100px;
}

.watchlist-topbar {
  height: 25%;
  width: 100%;
  border: 1px solid black;
}

.watchlist-topbar-title {
  height: 100%;
  width: 50%;
  border: 1px solid black;
  text-transform: uppercase;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-weight: 100;
  color: #aaaaaa;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
  font-size: 23px;
}




















//cpmment
.watchlist-topbar-title-arrow {
  float: right;
  justify-content: flex-start;
}
