.watchlist-parent {
  // border: 1px solid black;
  position: absolute;
  left: 9.5%;
  height: 210px;
  width: 850px;
  margin-top: 60px;
  margin-bottom: 100px;
}

.watchlist-topbar {
  height: 23%;
  width: 100%;
  margin-bottom: 10px;
}

.watchlist-topbar-title {
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-weight: 100;
  color: #aaaaaa;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
  font-size: 25px;
  // margin-bottom: 30px;
  margin-left: 3px;
  vertical-align: top;
}

.watchlist-topbar-title:hover{
  color: rgb(102, 170, 50);

}

.watchlist-item-outer {
  height: 230px;
  width: 230px;
  background: white;
  box-shadow: 1px 1px 1px #dcdcdc;
  position: relative;
  margin: 5px;
  // overflow: hidden;
}

.watchlist-item-status {
  height: 20px;
  width: 92px;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  position: absolute;
  z-index: 5;
  box-shadow: 0px 0px 0px #dcdcdc;
  margin-left: 112px;
  margin-top: -4px;
  background: linear-gradient(#6b8e12, #406c1c) repeat;
  border-radius: 2px;
  color: white;
  font-size: 11px;
  line-height: 19px;
  text-align: center;
}

.watchlist-item-thumb-pic {
  width: 100%;
  height: 100%;
  zoom: 115%;
  // background-image: image-url('twilight_zone.jpg');
  background-size: auto;
  overflow: hidden;
}

.watchlist-item-thumb {
  width: 97%;
  height: 65%;
  margin-left: 2.5px;
  margin-top: 2px;
}

.watchlist-index {
  display: flex;
  justify-content: space-between;
}

.watchlist-item-bottom {
  overflow: hidden;
}

.watchlist-item-command {
  font-style: italic;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-weight: 100;
  color: #aaaaaa;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
  font-size: 12px;
  margin-left: 16px;
  margin-right: 6px;

  margin-top: 15px;
}

.watchlist-item-command:hover {
  color: rgb(102, 170, 50);
}

.watchlist-item-title {
  font-weight: 550;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 13px;
  margin-top: 5px;
  margin-left: 16px;
  margin-right: 6px;
  letter-spacing: 0.4px;
}

.watchlist-item-title:hover {
  color: rgb(102, 170, 50);
}


.watchlist-badge {
  // display: inline;
  position: absolute;
  height: 25px;
  width: 25px;
  color: white;
  top: 125px;
  left: 174px;
  background: linear-gradient(#6b8e12, #406c1c) repeat;
  border-radius: 10%;
  vertical-align: middle;
  text-align: center;
  box-shadow: 1px 1px 1px #dcdcdc;

}


.watchlist-item-title:hover .watchlist-badge{
  display: block;

}
.watchlist-badge:hover {
  background-color: rgb(102, 170, 50);
}












//cpmment
.watchlist-topbar-title-arrow {
  float: right;
  justify-content: flex-start;
}
